<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Domino's Pizza Landing Page</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <div class="hero">
      <!-- Navbar Section  -->
      <nav>
        <img src="../images/logo.jfif" class="logo" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="http://localhost:8080/menu">Menu</a></li>
          <li><a href="#">Order</a></li>
          <li><a href="#">{{server_port}}</a></li>
        </ul>
        <img src="../images/menu.jpg" class="menu-img" />
      </nav>

      <!-- Content Section  -->
      <div class="row">
        <div class="col">
          <h1>
            Yummy pizza delivered<br />
            <i>"Fast & Fresh"</i>
          </h1>
          <p>
            Enjoy this delicious meal with our 1 plus 1 offer & get 2 personal
            pizzas starting @₹279. Order Pizza Hut 1 plus 1 San Francisco Style
            Pizza & get 2 Personal pizza starting @ ₹279.
          </p>
          <a href="#">Order Now</a>
        </div>
        <div class="col">
          <img src="../images/pizza.jpg" class="feature-img" />
        </div>
      </div>
    </div>
  </body>
</html>